#addSell{
    padding:0px;
    margin-right:10px;
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    
}

.Sell_col {
    padding-right: 5px;
    padding-left: 5px;
    max-width: 25%;
    width: 25%;
}

input[type=date],textarea {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: .375rem;
    padding-bottom: .375rem;
    background-color: white;
    border: 1px solid #ccc !important;
    font-family: inherit;
  }

